{% extends "secretaria/baseSecretaria.html" %}

{% load static %}

{% block title %}Estudiante{% endblock %}
{% block content %}
<br><br><br>
<div class="container">
    <div class="card">
        <div class="card-header text-center" >
            <h4>Actualizar Información</h4>
        </div>
        <div class="card-body">

            {% include 'secretariaEstudiante/form.html' %}

        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>
<br>
{% endblock %}