html, body {
    height: 100%;
    margin: 0;
}

.content-wrapper {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;
}

.navbar {
    background-color: #2e9c48 !important;/* Color de fondo normal del navbar */
}

.navbar-nav .nav-link.active:hover {
    color: white !important;/* Cambia el color del texto al pasar el cursor */
    background-color: #1c9137 !important;/* Cambia el color de fondo del navbar al pasar el cursor */
    border-radius: 30px ;
}

/* Cambia el color de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #1c9137;
}

/* Cambia el color del riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: #f8f9fa;/* Color de fondo del riel de la barra de desplazamiento */
}
::-webkit-scrollbar-thumb {
    background-color: #2e9c48;/* Color del pulgar de la barra de desplazamiento */
}